/* line 5, /Users/Tomek/RubymineProjects/Insta/app/assets/stylesheets/home.scss */
.invitation {
  margin-top: 150px;
  color: white;
  font-size: 4em;
  font-stretch: expanded;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
