<div class="container follow-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading type-table">
      <p>User not follow back</p>
    </div>
    <table id="inst-table">

        <thead>
            <tr>
                <td> Num </td>
                <td> Name </td>
                <td>  </td>

            </tr>
        </thead>
        <tbody class="table-body">

        </tbody>

    </table>
  </div>
  </div>
  </div>
</div>
