<div class="container follow-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading type-table">
    </div>
    <table id="inst-table">

        <thead>
            <tr>
                <th> Num </th>
                <th> Name </th>
                <th> Ins </th>

            </tr>
        </thead>
        <tbody class="table-body">

        </tbody>

    </table>
  </div>
  </div>
  </div>
</div>
