.container
    %br
    .row
        .col-md-3.col-md-offset-2
            = image_tag(@user.profile_picture, :class => "img-circle")
        .col-md-7
            %h3 #{@user.username}
            = link_to "edit" , "#"
            %p



    =render "users/table"