.invitation
  .container
    .row
      .col-md-1
      .col-md-3
        %p  Wellcome
    .row
      .col-md-2
      .col-md-8
        %p we woudl like to help you

    .row
      .col-md-3
      .col-md-8
        = link_to "autoryzuj", auth_path