// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.conteiner{
  margin-top: 150px;
}
.panel{


}


table {
  width: 100%;
  text-align: center;
  tbody {
     tr {
      border: 1px solid cornflowerblue;


      p {
        font-size: 1.2em;

      }
    }
  }
  td {
    width: 33%;
  }

  .button-group{

    text-align: right;


  }
}
.panel-heading {

  p {
    text-align: center;

    font-size: 1.4em;
  }
}

.follow-container {
  margin-top: 100px;
}